# Exercise 5: Evaluating the grain clustering

In the previous exercise, you observed from the inertia plot that 3 is a good number of clusters for the grain data.  In fact, the grain samples come from a mix of 3 different grain varieties: "Kama", "Rosa" and "Canadian".  In this exercise, cluster the grain samples into three clusters, and compare the clusters to the grain varieties using a cross-tabulation.

**Step 1:** Load the dataset _(written for you)_.

You have the array `samples` of grain samples, and a list `varieties` giving the grain variety for each sample.

In [1]:
import pandas as pd

seeds_df = pd.read_csv('../datasets/seeds.csv')

#extract the grain varieties from dataframe
varieties = list(seeds_df['grain_variety'])
del seeds_df['grain_variety']

samples = seeds_df.values

In [17]:
seeds_df.head()

,area,perimeter,compactness,length,width,asymmetry_coefficient,groove_length
0,15.26,14.84,0.8710,5.763,3.312,2.221,5.220
1,14.88,14.57,0.8811,5.554,3.333,1.018,4.956
2,14.29,14.09,0.9050,5.291,3.337,2.699,4.825
3,13.84,13.94,0.8955,5.324,3.379,2.259,4.805
4,16.14,14.99,0.9034,5.658,3.562,1.355,5.175

In [2]:
samples

array([[ 15.26  ,  14.84  ,   0.871 , ...,   3.312 ,   2.221 ,   5.22  ],
       [ 14.88  ,  14.57  ,   0.8811, ...,   3.333 ,   1.018 ,   4.956 ],
       [ 14.29  ,  14.09  ,   0.905 , ...,   3.337 ,   2.699 ,   4.825 ],
       ...,
       [ 13.2   ,  13.66  ,   0.8883, ...,   3.232 ,   8.315 ,   5.056 ],
       [ 11.84  ,  13.21  ,   0.8521, ...,   2.836 ,   3.598 ,   5.044 ],
       [ 12.3   ,  13.34  ,   0.8684, ...,   2.974 ,   5.637 ,   5.063 ]])

**Step 2:** Import KMeans

In [3]:
from sklearn.cluster import KMeans

**Step 3:** Create a `KMeans` model called `model` with `3` clusters.

In [5]:
model = KMeans(n_clusters=3)

**Step 4:** Use the `.fit_predict()` method of `model` to fit it to `samples` and derive the cluster labels.

Calling `.fit_predict()` is the same as calling `.fit()` and then calling `.predict()`.

In [7]:
labels = model.fit_predict(samples)

**Step 5:** Create a DataFrame `df` with two columns named `'labels'` and `'varieties'`, using `labels` and `varieties`, respectively, for the column values. _(This has been done for you.)_

In [13]:
df = pd.DataFrame({'labels':labels, 'varieties':varieties})
df.head()

   labels   varieties
0       2  Kama wheat
1       2  Kama wheat
2       2  Kama wheat
3       2  Kama wheat
4       2  Kama wheat

**Step 6:** Use the `pd.crosstab()` function on `df['labels']` and `df['varieties']` to count the number of times each grain variety coincides with each cluster label. Assign the result to `ct`.

In [15]:
ct = pd.crosstab(df['labels'],df['varieties'])

**Step 7:** Display `ct` by evaluating it - and inspect your cross-tabulation!  You'll see that your clustering is pretty good.

In [10]:
ct

varieties  Canadian wheat  Kama wheat  Rosa wheat
labels
0                      68           9           0
1                       0           1          60
2                       2          60          10