# Exercise 7: Clustering stocks using KMeans

In this exercise, you'll cluster companies using their daily stock price movements (i.e. the dollar difference between the closing and opening prices for each trading day).  You are given a NumPy array `movements` of daily price movements from 2010 to 2015, where each row corresponds to a company, and each column corresponds to a trading day.

Some stocks are more expensive than others.  To account for this, include a `Normalizer` at the beginning of your pipeline.  The Normalizer will separately transform each company's stock price to a relative scale before the clustering begins.

## Normalizer vs StandardScaler
Note that `Normalizer()` is different to `StandardScaler()`, which you used in the previous exercise. While `StandardScaler()` standardizes **features** (such as the features of the fish data from the previous exercise) by removing the mean and scaling to unit variance, `Normalizer()` rescales **each sample** - here, each company's stock price - independently of the other.

This dataset was obtained from the Yahoo! Finance API.

**Step 1:** Load the data _(written for you)_

In [1]:
import pandas as pd

fn = '../datasets/company-stock-movements-2010-2015-incl.csv'
stocks_df = pd.read_csv(fn, index_col=0)

**Step 2:** Inspect the first few rows of the DataFrame `stocks_df` by calling its `head()` function.

In [2]:
stocks_df.head()

,2010-01-04,2010-01-05,2010-01-06,2010-01-07,2010-01-08,2010-01-11,2010-01-12,2010-01-13,2010-01-14,2010-01-15,...,2013-10-16,2013-10-17,2013-10-18,2013-10-21,2013-10-22,2013-10-23,2013-10-24,2013-10-25,2013-10-28,2013-10-29
Apple,0.580000,-0.220005,-3.409998,-1.170000,1.680011,-2.689994,-1.469994,2.779997,-0.680003,-4.999995,...,0.320008,4.519997,2.899987,9.590019,-6.540016,5.959976,6.910011,-5.359962,0.840019,-19.589981
AIG,-0.640002,-0.650000,-0.210001,-0.420000,0.710001,-0.200001,-1.130001,0.069999,-0.119999,-0.500000,...,0.919998,0.709999,0.119999,-0.480000,0.010002,-0.279998,-0.190003,-0.040001,-0.400002,0.660000
Amazon,-2.350006,1.260009,-2.350006,-2.009995,2.960006,-2.309997,-1.640007,1.209999,-1.790001,-2.039994,...,2.109985,3.699982,9.570008,-3.450013,4.820008,-4.079986,2.579986,4.790009,-1.760009,3.740021
American express,0.109997,0.000000,0.260002,0.720002,0.190003,-0.270001,0.750000,0.300004,0.639999,-0.130001,...,0.680001,2.290001,0.409996,-0.069999,0.100006,0.069999,0.130005,1.849999,0.040001,0.540001
Boeing,0.459999,1.770000,1.549999,2.690003,0.059997,-1.080002,0.360000,0.549999,0.530002,-0.709999,...,1.559997,2.480003,0.019997,-1.220001,0.480003,3.020004,-0.029999,1.940002,1.130005,0.309998

**Step 3:** Extract the NumPy array `movements` from the DataFrame and the list of company names (_written for you_)

In [3]:
companies = list(stocks_df.index)
movements = stocks_df.values

In [6]:
companies

['Apple',
 'AIG',
 'Amazon',
 'American express',
 'Boeing',
 'Bank of America',
 'British American Tobacco',
 'Canon',
 'Caterpillar',
 'Colgate-Palmolive',
 'ConocoPhillips',
 'Cisco',
 'Chevron',
 'DuPont de Nemours',
 'Dell',
 'Ford',
 'General Electrics',
 'Google/Alphabet',
 'Goldman Sachs',
 'GlaxoSmithKline',
 'Home Depot',
 'Honda',
 'HP',
 'IBM',
 'Intel',
 'Johnson & Johnson',
 'JPMorgan Chase',
 'Kimberly-Clark',
 'Coca Cola',
 'Lookheed Martin',
 'MasterCard',
 'McDonalds',
 '3M',
 'Microsoft',
 'Mitsubishi',
 'Navistar',
 'Northrop Grumman',
 'Novartis',
 'Pepsi',
 'Pfizer',
 'Procter Gamble',
 'Philip Morris',
 'Royal Dutch Shell',
 'SAP',
 'Schlumberger',
 'Sony',
 'Sanofi-Aventis',
 'Symantec',
 'Toyota',
 'Total',
 'Taiwan Semiconductor Manufacturing',
 'Texas instruments',
 'Unilever',
 'Valero Energy',
 'Walgreen',
 'Wells Fargo',
 'Wal-Mart',
 'Exxon',
 'Xerox',
 'Yahoo']

In [7]:
movements

array([[  5.80000000e-01,  -2.20005000e-01,  -3.40999800e+00, ...,
         -5.35996200e+00,   8.40019000e-01,  -1.95899810e+01],
       [ -6.40002000e-01,  -6.50000000e-01,  -2.10001000e-01, ...,
         -4.00010000e-02,  -4.00002000e-01,   6.60000000e-01],
       [ -2.35000600e+00,   1.26000900e+00,  -2.35000600e+00, ...,
          4.79000900e+00,  -1.76000900e+00,   3.74002100e+00],
       ...,
       [  4.30001000e-01,   2.29996000e-01,   5.70000000e-01, ...,
         -2.60002000e-01,   4.00001000e-01,   4.80003000e-01],
       [  9.00000000e-02,   1.00000000e-02,  -8.00000000e-02, ...,
         -3.00000000e-02,   2.00000000e-02,  -3.00000000e-02],
       [  1.59999000e-01,   1.00010000e-02,   0.00000000e+00, ...,
         -6.00010000e-02,   2.59998000e-01,   9.99980000e-02]])

**Step 4:** Make the necessary imports:

- `Normalizer` from `sklearn.preprocessing`.
- `KMeans` from `sklearn.cluster`.
- `make_pipeline` from `sklearn.pipeline`.

In [8]:
from sklearn.preprocessing import Normalizer
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline

**Step 3:** Create an instance of `Normalizer` called `normalizer`.

In [9]:
normalizer = Normalizer()

**Step 4:** Create an instance of `KMeans` called `kmeans` with `14` clusters.

In [10]:
kmeans = KMeans(n_clusters=14)

**Step 5:** Using `make_pipeline()`, create a pipeline called `pipeline` that chains `normalizer` and `kmeans`.

In [11]:
pipeline = make_pipeline(normalizer,kmeans)

**Step 6:** Fit the pipeline to the `movements` array.

In [12]:
pipeline.fit(movements)

Pipeline(memory=None,
     steps=[('normalizer', Normalizer(copy=True, norm='l2')), ('kmeans', KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=14, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0))])

**Step 7:** Use the `.predict()` method of the pipeline to predict the labels for `movements`.

In [13]:
labels = pipeline.predict(movements)

**Step 8:** Align the cluster labels with the list of company names `companies` by creating a DataFrame `df` with `labels` and `companies` as columns.

In [14]:
df = pd.DataFrame({'labels': labels, 'companies': companies})

**Step 9:** Now display the DataFrame, sorted by cluster label.  To do this, use the `.sort_values()` method of `df` to sort the DataFrame by the `'labels'` column.

In [15]:
df.sort_values('labels')

                             companies  labels
30                          MasterCard       0
34                          Mitsubishi       1
45                                Sony       1
7                                Canon       1
48                              Toyota       1
21                               Honda       1
11                               Cisco       1
29                     Lookheed Martin       2
32                                  3M       2
23                                 IBM       2
47                            Symantec       2
13                   DuPont de Nemours       2
20                          Home Depot       2
8                          Caterpillar       2
36                    Northrop Grumman       2
4                               Boeing       2
58                               Xerox       2
25                   Johnson & Johnson       2
37                            Novartis       3
43                                 SAP       3
42                   Royal Dutch Shell       3
33                           Microsoft       3
46                      Sanofi-Aventis       3
49                               Total       3
52                            Unilever       3
6             British American Tobacco       3
19                     GlaxoSmithKline       3
18                       Goldman Sachs       4
26                      JPMorgan Chase       4
5                      Bank of America       4
3                     American express       4
55                         Wells Fargo       4
1                                  AIG       4
16                   General Electrics       4
59                               Yahoo       5
2                               Amazon       5
27                      Kimberly-Clark       6
9                    Colgate-Palmolive       6
40                      Procter Gamble       6
14                                Dell       7
22                                  HP       7
15                                Ford       8
35                            Navistar       8
54                            Walgreen       9
44                        Schlumberger      10
57                               Exxon      10
39                              Pfizer      10
12                             Chevron      10
10                      ConocoPhillips      10
53                       Valero Energy      10
41                       Philip Morris      11
31                           McDonalds      11
56                            Wal-Mart      11
28                           Coca Cola      11
38                               Pepsi      11
0                                Apple      12
17                     Google/Alphabet      12
50  Taiwan Semiconductor Manufacturing      13
24                               Intel      13
51                   Texas instruments      13